.app-container {
  display: flex;
  height: 100vh;
  position: relative; /* 부모 요소를 상대 위치로 설정 */
}

.video-container,
.cam-container {
  flex: 1;
}

.video-frame,
#webcam-video {
  width: 80%;
  height: 1000px;
  object-fit: fill;
}

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(223, 12, 12, 0.91);
  color: #fff;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* style.css */

.timer {
  position: absolute; /* 타이머를 절대 위치 설정. */
  /* 부모 요소의 왼쪽에서 50% 떨어진 위치에 배치 */
  left: 50%;
  /* 부모 요소의 상단에서 10% 떨어진 위치에 배치. */
  top: 10%;
  /* 요소를 가운데로 정렬 */
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bold;
  color: #fff;
}
