:root{
  --bar-padding: 30px;

  --skyblue-color: #D7E2EB;
}

.screen-container {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  overflow: auto;
  gap: 50px;
}

.difficulty-button-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.difficulty-button {
  width:120px;
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  color: black;
  border: 1px solid var(--skyblue-color);
  border-radius: 10px;
  cursor: pointer;
}

.difficulty-button > div{
  width: fit-content;
  
  font-size: 15px;
}

.dropdown-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.difficulty-dropdown {
  position: absolute;
  top: 100%;
  width: 200px;
  background-color: #ffffff;
  border: 1px solid var(--skyblue-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  border-radius: 10px;
  color: #4E4E4E;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: black; /* 기본 텍스트 색상 검정색으로 설정 */
}

.item-drop {
  color: #D7E2EB; /* 아이콘 색상 */
  margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 */
}


.dropdown-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.search-bar {
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--skyblue-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.bar-search{
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border:  0;
  outline: none;
}

.bar-search::placeholder{
  text-align: center;
  font-weight: bold;
}

.bar-search:focus{
  outline: none;
}

.bar-button{
  width: 30px;
  height: 30px;
  margin: 10px;
}

.bar-button:hover{
  cursor: pointer;
}
.grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.bar {
  background-color: #D9D9D9;
  width: 14vw;
  height: 22vw;
  border-radius: 5px;
  position: relative;
}
.bar:hover{
  cursor: pointer;
}

.bar-title{
  position:absolute;
  top: var(--bar-padding);
  left: var(--bar-padding);
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bar-img{
  border-radius: 50%;
  background-color: var(--skyblue-color);
  width: var(--bar-padding);
  height: var(--bar-padding);
}
.bar-name{

}
.bar-level{
  position:absolute;
  right: var(--bar-padding);
  bottom: var(--bar-padding);
}