:root {
  --bar-padding: 15px;
  --main-color: #ff53ba;
  --sub-color: #ffddf1;
}

.screen-container {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
  gap: 50px;
  z-index: 1;
}

.difficulty-button-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.difficulty-button {
  width: 120px;
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  color: black;
  border: 1px solid var(--sub-color);
  border-radius: 10px;
  cursor: pointer;
}

.difficulty-button > div {
  width: fit-content;
  font-weight: 400;
  font-size: 15px;
}

.dropdown-container {
  position: relative;
  top: 5vh;
  width: 100%;
  padding-right: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.search-bar {
  position: sticky;
  top: 0;
  z-index: 2; /* 다른 컨텐츠 위에 나타나도록 설정. */
  background-color: white;
}

.difficulty-dropdown {
  position: absolute;
  top: calc(5vh + 15px);
  width: 230px;
  background-color: #ffffff;
  border: 1px solid var(--sub-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  border-radius: 10px;
  color: #4e4e4e;
  z-index: 10000;
}

.dropdown-item {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: black;
  width: fit-content;
  /* 기본 텍스트 색상 검정색으로 설정 */
}

.item-drop {
  width: fit-content;
  color: #ffddf1;
  margin-right: 5px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.search-bar {
  position: absolute;
  top: 5vh;
  width: 60%;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 1px solid #ff53ba;
  box-sizing: border-box;
}

.bar-search {
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: 0;
  outline: none;
}

.bar-search::placeholder {
  text-align: center;
  font-weight: bold;
  color: var(--sub-color);
}

.bar-search:focus {
  outline: none;
}

.bar-button {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.bar-button:hover {
  cursor: pointer;
}

.grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  position: sticky;
  top: 70px;
  margin-bottom: 80px;
  min-height: 400px;
  /* background-color: white; */
}

.bar {
  background-color: #d9d9d9;
  width: 14vw;
  height: 22vw;
  border-radius: 5px;
  position: relative;
}

.bar-info {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  z-index: 1;
}

.bar:hover {
  cursor: pointer;
}

.bar-title {
  position: absolute;
  width: 98%;
  top: var(--bar-padding);
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* background-color: var(--main-color); */
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 */
  padding: 1%;
  /* z-index: 2; */
}

.bar-title > img {
  /* background-color: white; */
  /* border-radius: 50%; */
  object-fit: fill;
  margin-left: 5%;
  width: 25px;
  height: 20px;
  padding: 3%;
  z-index: 2;
}

.bar-img {
  object-fit: fill;
  border-radius: 100%;
  background-color: var(--sub-color);
  width: var(--bar-padding);
  height: var(--bar-padding);
  z-index: 2;
}

.bar-name {
  z-index: 2;
  /* background-color: #fff; */
  /* color: var(--main-color); */
  color: white;
  font-weight: bold;
}

.bar-level {
  position: absolute;
  /* color: black;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff; */
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-weight: bold;
  right: var(--bar-padding);
  bottom: var(--bar-padding);
  z-index: 2;
}

.comment-section {
  position: absolute;
}
