:root {
  --sorts-main-screen-width: 380px;
  --sorts-main-screen-height: 650px;
}

* {
  margin: 0;
  padding: 0;

  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
input:focus {outline: none;}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.left-sidebar {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
}

.sidebar-item:nth-child(2) {
  line-height: 24px;
  font-size: 20px;
}

.item-icon {
  width: 14px;
  height: 14px;
}

.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  width: 90%;
  overflow: auto;
  flex-wrap: nowrap;
  gap: 5px;
}

.song-list li {
  line-height: 16px;
  font-size: 9px;
  color: white;
  background-color: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(2px);
  padding: 0px 10px;
  ;
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
}

.song-list::-webkit-scrollbar {
  display: none;
}

.image-wrapper {
  width: var(--sorts-main-screen-width);
  height: var(--sorts-main-screen-height);
  background-size: cover;
  position: relative;
  border-radius: 15px;

  overflow: hidden;
}

source {
  background-size: CENTER;
}

.next-image-wrapper {
  width: calc(var(--sorts-main-screen-width) /);
  height: calc(var(--sorts-main-screen-height) / 2);
  position: absolute;
  bottom: calc(var(--sorts-main-screen-height) / -3);
  border-radius: 15px;
}

.buttons {
  position: absolute;
  bottom: 200px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.icon {
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  width: calc(var(--sorts-main-screen-width) / 13);
  height: 40px;
  background-color: #00000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
  padding: 5px;
  /* Add padding to ensure the icon fits well inside the button */
}

.comment-container,
.heart-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-count,
.heart-count {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.comment-section {
  position: absolute;
  right: calc(calc(50vw - var(--sorts-main-screen-width) / 2) - 320px);
  width: 300px;
  height: var(--sorts-main-screen-height);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #FF53BA;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: hidden;
  z-index: 10;
  box-sizing: border-box;
  background-color: white;
}

.comment-section>div {
  position: relative;
  padding: 25px;
  padding-right: 35px;
  line-height: 15px;
  width: 100%;
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
}

.comment-section>div::-webkit-scrollbar {
  display: none;
}

.comment-section>button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FF53BA;
  background-color: #00000000;
  border: 0;
  z-index: 13;
}

.input-things {
  width: calc(300px - 60px);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  gap: 2px;
}

.input-things>p {
  width: 100%; 
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.input-things>p:nth-child(1) {
  color: #868686;
  font-size: 12px;
}

.input-things>p:nth-child(2) {
  color: #000000;
  font-size: 15px;
}

.comment-input {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 15%;
  width: 100%;
  padding: 15px;
  border: 1px solid #FF53BA;
  border-radius: 15px;
  box-sizing: border-box;
  /* 박스 모델에 border와 padding을 포함시킴 */
}

.comment-input>p {
  font-size: 10px;
  color: #FF0099;
}

.comment-input>input,
.comment-input>*>input {
  border: 0;
  border-bottom: 1px solid #FF0099;
}

.comment-input>input {
  width: calc(10px * 14);
}

.comment-input>*>input {
  width: 75%;
}

.comment-input>*>button {
  font-size: 11px;
  width: fit-content;
  padding: 2px 8px;
  background-color: #FF0099;
  border: 0;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-left-buttons {
  position: absolute;
  bottom: 15vh;
  left: 25vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bottom-left-buttons>.button {
  width: 50px;
  height: 50px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: #FFDDF1 0 4px 4px 1px;
  color: #FF0099;
}

.start-recording {
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px 20px;
  background-color: #FF0099;
  color: white;
  box-shadow: none;
}

.search-bar-sorts {
  width: 410px;
  height: fit-content;
  position: absolute;
  top: 4vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 5vh;
  border-radius: 50px;
  border: #FF0099 1px solid;
  /* 2px magenta border */
}

.search-input {
  padding: 8px;
  width: 90%;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-button {
  background-color: #ffffff;
  position: absolute;
  right: 10px;
  border: none;
  /* Remove default border */
  color: #FF0099;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}

/* Add these styles to your existing CSS */

.trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #00000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.confirmation-div {
  position: absolute;
  top: calc(calc(50vh - var(--sorts-main-screen-height) / 2) + 10px);
  right: calc(calc(50vw - var(--sorts-main-screen-width) / 2) - calc(420px));
  z-index: 11;
  width: 410px;
  background-color: white;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.confirmation-div>p {
  font-size: 10px;
  color: #FF0099;
}

.confirmation-div>div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.confirmation-div>div>button {
  font-size: 11px;
  width: 40px;
  padding: 2px 8px;
  background-color: #FF0099;
  border: 0;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.confirmation-div>div>input {
  font-size: 14px;
  width: calc(14px * 26);
  border: 0;
  border-bottom: 1px solid #FF0099;
}

.confirmation-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.confirmation-overlay>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.confirmation-overlay>div>button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #FF0099;
  color: white;
  border-radius: 5px;
}

.confirmation-overlay>div>button:hover {
  background-color: #FF53BA;
}